<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wgs.blog.dao.blog.CollectionDoMapper" >
  <resultMap id="BaseResultMap" type="com.wgs.blog.entity.blog.CollectionDo" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="blog_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="collector_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="blog_title" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, blog_id, collector_id, blog_title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from collection
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from collection
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wgs.blog.entity.blog.CollectionDo" >
    insert into collection (id, blog_id, collector_id, 
      blog_title)
    values (#{id,jdbcType=VARCHAR}, #{blogId,jdbcType=VARCHAR}, #{collectorId,jdbcType=INTEGER}, 
      #{blogTitle,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wgs.blog.entity.blog.CollectionDo" >
    insert into collection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="blogId != null" >
        blog_id,
      </if>
      <if test="collectorId != null" >
        collector_id,
      </if>
      <if test="blogTitle != null" >
        blog_title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="blogId != null" >
        #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="collectorId != null" >
        #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="blogTitle != null" >
        #{blogTitle,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wgs.blog.entity.blog.CollectionDo" >
    update collection
    <set >
      <if test="blogId != null" >
        blog_id = #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="collectorId != null" >
        collector_id = #{collectorId,jdbcType=INTEGER},
      </if>
      <if test="blogTitle != null" >
        blog_title = #{blogTitle,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wgs.blog.entity.blog.CollectionDo" >
    update collection
    set blog_id = #{blogId,jdbcType=VARCHAR},
      collector_id = #{collectorId,jdbcType=INTEGER},
      blog_title = #{blogTitle,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>